<section class="container centered">
  <div class="about">
    <h2>{{ .Site.Params.home_main }}</h2>
    <h1 class="hero-title">{{ .Site.Params.title }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.home_links }}
    <ul class="home-list">
      {{ range sort . "weight"}}
        <li class="home-item">
          <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
            {{ if .icon }}
              <i class="{{ .icon }}" aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
